<%- include('headfoot/header.ejs') %>

<section class="mainFqListdiv">

    <div class="container">

        <% activeUser.friends.forEach((friend)=>{%>

            <% if(`${friend._id}` !==`${currentUser._id}`){%>
            <form class="row mt-2" action="/home/friends/<%=friend._id%>/unfollow/<%=currentUser._id%>" method="POST">
                <div class="customCardForFrdList mx-auto col-10">
                    <div class="mt-1" style="width: 100%; height: 50px;">
                        

                        <%if(friend.profilePhoto==""){%>
                            <img src="https://cdn.pixabay.com/photo/2018/11/13/21/43/instagram-3814049_960_720.png" alt="" class="unFrdUserImg">
                        <%}else{%>
                                <img src="/upload/profile/<%=friend._id%>/<%=friend.profilePhoto%>" alt="" class="unFrdUserImg">
                        <%}%>



                        <a href="/home/profile/<%=friend._id%>"  style="font-size: 80%;"> <%=friend.name%></a>
                    </div>

                    <button class="btnForUnfrdinFrdList ">
                        Unfriend
                    </button>


                </div>

            </form>
          <%}%>
        <%})%>

    </div>


</section>












<%- include('headfoot/footer.ejs') %>
